
@font-face {
    font-family: 'Oriya MN';
    src: url('./oriya-mn.ttf') format('truetype');
    font-style: regular;
  }

body {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Oriya MN', 'Times New Roman', Times, serif !important;
}

*{
    color: #707070;
    font-family: 'Shree Devanagari 714', 'Times New Roman', Times, serif !important;
    font-size: 22pt;
}

.nav-link.text-body-secondary {
    font-size: 14pt;
}

.top-right {
    font-size: 14pt;
}

#navbar {
    max-width: 83.33%;
}

#hr-1 {
    rotate: -1.4deg;
    position: relative;
    top: 23px;
}

#hr-2 {
    rotate: 1.4deg;
    position: relative;
}

.button{
    font-size: 24pt;
    color: grey;
}

#cherry-blossom {
    position: absolute;
    transform: scaleY(-1);
    width: 1045px;
    rotate: 130deg;
    top: 175px;
    right: -90px;
    margin-right: 6%;
    max-width: 70%;
} 

.card-link {
    text-decoration: none;
}

.card-title {
    font-size: 22pt;
}

@media (max-width: 767px) {
    #cherry-blossom {
        display: none;
    }
    #navbar {
        display: none;
    }
}