
@font-face {
    font-family: 'Oriya MN';
    src: url('./oriya-mn.ttf') format('truetype');
    font-style: regular;
  }

body {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
}
/* default text color+font+size */
* {
    color: #707070;
    font-family: 'Shree Devanagari 714', 'Times New Roman', Times, serif !important;
    font-size: 22pt;
}
/* default titles */
h1, h2 {
    font-family: 'Oriya MN', 'Times New Roman', Times, serif !important;
}
/* NAVBAR */
/* text styling */
.nav a{
    font-family: 'Shree Devanagari 714', 'Times New Roman', Times, serif !important;
    font-size: 12pt;
    text-decoration: none;
    color: #707070;
}
.nav a:hover{
    opacity: .75;
}
/* formatting */
.nav.top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
}

.nav.bottom-nav {
    display: flex;
    justify-content: center;
    padding: 8px;
}
/* adds padding to top intro section */
.intro-header {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 40px;
}
/* adjusting horizontal line angles */
#hr-1 {
    rotate: -1.4deg;
    position: relative;
    top: 23px;
}
#hr-2 {
    rotate: 1.4deg;
    position: relative;
}
/* nav buttons */
.button{
    font-size: 24pt;
    color: grey;
}
/* homepage background visual */
#cherry-blossom {
    position: absolute;
    transform: scaleY(-1);
    width: 1045px;
    rotate: 130deg;
    top: 175px;
    right: -90px;
    margin-right: 6%;
    max-width: 70%;
} 
/* PROJECTS SECTION!!! */
.my-projects {
    padding: 20px 60px;
}

.card-link {
    text-decoration: none;
}

.card-title {
    font-size: 22pt;
}
/* (future) scrolling text divider on bottom of homepage */
.scrolling-text-line {
    margin-top: 0px;
    margin-bottom: 0px;
}
.scrolling-text {
    display: inline;
    white-space: nowrap;
    font-size: 18pt;
}

.scrolling-text-container {
    margin-top: 20px;
    margin-bottom: 20px;
}


#top > div > div > div > div > button > a > span {
    font-size: 12pt;
    position: relative;
    top: -3px;
}

#top > div > div > div > div > .btn-outline-secondary:hover {
    background-color: #F6F6F650;
  }

  .flower-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 55%;
  }

  .project-card > a:hover {
    background-color: #F6F6F650;
  }

  .project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .project-header img {
    display: block;
    max-width: 70%;
    margin: 20px auto;
  }

 .about-me {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-rows: auto auto auto;
  max-width: 80%;
  margin: 50px auto;
}

.about-me h {
    grid-row-start: 1;
}

.about-me .para-1 {
  grid-row-start: 2;
  font-size: 14pt;
  margin-right: 50px;
}

.about-me .profile-card {
  border: solid;
  grid-row-start: 2;
  grid-column-start: 2;
}

.profile-card div button span {
  font-size: 12pt;
  position: relative;
  top: -3px;
}

#projects > .project-container {
    margin-right: 100px;
}

.about-me-bottom {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: auto auto 50px;
}
/* small screen */
@media (max-width: 767px) {
    /* centers top nav */
    .nav.top-nav {
        justify-content: center;
        padding-right: 0px;
        padding-bottom: 30px;
    }
    #projects-text {
        display: flex;
        justify-content: center;
    }
    
    #cherry-blossom {
        z-index: -1;
        opacity: 0.15;
        max-width: 60%;
        min-width: 50%;
    }
    #projects > .project-container {
        margin-right: 30px;
        margin-left: 30px;
    }
    
}